#demo {
  padding-top: 10px;
}

.no-border-table, .no-border-table td {
  /* border: none !important; */
}
.measure-camp-header {
  text-align: center;
  justify-content: center;
  /*background: linear-gradient(to bottom, #373737 0%, #1b1b1b 100%);*/
  display: flex;
  background: #a43e41;
}
.measure-camp-header h3 {
  color: lighten(#dfd7c4, 5%);
  margin: 0.3em 0 0em 0;
}
.measure-camp-header .captioncont span {
  color: #b74548;
  font-size: 1.2em;
  line-height: 30px;
  font-weight: bold;
}

.jobs-button {
  background-color: #a43e41 !important;
  color: white !important;
}